@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Itim&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-family: 'Inter',sans-serif;
}
:root{
    --white-color:#fff;
    --text-color:#272D38;
    /* --background-color:red; */
    --background-color:#F6F6F6;
    --border-color:#DEDCDB;

}

.row{
    margin-bottom: 24px;
}
.first{
    max-width: 190px;
}
a{
    text-decoration: none;
}
.flex-box{
    display: flex;
}
.flex-direction{
    flex-direction: row-reverse;
}
.fs-48{
    font-size: 48px;
}
.t-c{
    text-align: center;
}

.bg-r{
    background-color: var(--background-color);
    border-radius: 8px;
}
.fs-32{
    font-size: 32px;
}
.col-4{
    width: 25%;
}
